/* Body and background */
body {
    font-family: Arial, sans-serif;
    height: auto;
    margin: auto;
    --x: calc(var(--posX, 0) * 1px);
    --y: calc(var(--posY, 0) * 1px);
    /*204, 255, 0
    0, 183, 255*/
    background-image:
        linear-gradient(115deg, rgb(0, 183, 255), rgb(204, 255, 0)),
        /* Top row */
        radial-gradient(30% 30% at calc(20% + var(--x)) calc(20% + var(--y)), rgb(98, 0, 255), transparent),
        radial-gradient(25% 25% at calc(50% - var(--x)) calc(40% - var(--y)), rgb(0, 255, 234), transparent),
        radial-gradient(35% 35% at calc(80% + var(--x)) calc(30% + var(--y)), rgb(204, 255, 0), transparent),
        radial-gradient(20% 20% at calc(35% + var(--x)) calc(25% + var(--y)), rgb(0, 255, 0), transparent),
        /* Middle row */
        radial-gradient(20% 20% at calc(30% - var(--x)) calc(50% - var(--y)), rgb(0, 247, 255), transparent),
        radial-gradient(40% 40% at calc(60% + var(--x)) calc(45% + var(--y)), rgb(98, 0, 255), transparent),
        radial-gradient(25% 25% at calc(85% - var(--x)) calc(55% - var(--y)), rgb(72, 255, 0), transparent),
        radial-gradient(30% 30% at calc(45% + var(--x)) calc(40% + var(--y)), rgb(255, 145, 0), transparent),
        /* Bottom row */
        radial-gradient(30% 30% at calc(25% + var(--x)) calc(75% + var(--y)), rgb(255, 196, 0), transparent),
        radial-gradient(35% 35% at calc(55% - var(--x)) calc(80% - var(--y)), rgb(0, 255, 234), transparent),
        radial-gradient(25% 25% at calc(90% + var(--x)) calc(70% + var(--y)), rgb(238, 255, 0), transparent),
        radial-gradient(25% 25% at calc(40% - var(--x)) calc(65% - var(--y)), rgb(30, 255, 0), transparent),
        /* Extra spots */
        radial-gradient(15% 15% at calc(70% - var(--x)) calc(35% - var(--y)), rgb(255, 166, 0), transparent),
        radial-gradient(20% 20% at calc(15% + var(--x)) calc(60% + var(--y)), rgb(0, 255, 85), transparent),
        linear-gradient(60deg, rgb(98, 0, 255), rgb(13, 255, 0));
    background-blend-mode: multiply, screen, color-dodge, overlay, difference, screen, color-dodge, overlay, difference, screen, overlay, difference, screen, color-dodge, overlay, normal;
}

/* Background Gradient Animation */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.navbar {
    position: sticky;
    top: 20px;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 80%;
    margin: 2rem auto;
    border-color: #000000 !important;
}

.card-index:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cards_trans {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
}