@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

.card {
    background-color: rgba(18, 17, 22);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.card-header {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.4);
}

.card-body {
    padding: 1.25rem;
    color: rgba(255, 255, 255, 0.7);
}

dt {
    color: rgba(255, 255, 255, 0.632);
}

dd {
    color: #ffffff;
}

.badge {
    font-size: 0.875rem;
    padding: 0.35em 0.65em;
}

.btn-group {
    gap: 0.25rem;
}

h2 {
    margin-bottom: 0.5rem;
}

.text-muted {
    color: rgb(61, 50, 50) !important;
}

.name-top {
    height: auto !important;
    border-radius: 8px !important;
    backdrop-filter: blur(18px);
    background-color: rgba(0, 0, 0, 0.34) !important;
    background-blend-mode: overlay;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.name-top-text {
    font-family: Montserrat, sans-serif !important;
}

h2 {
    font-family: 'Montserrat', sans-serif !important;
}