@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

.userCredentialsForm .alert {
    color: #ffffff !important;
    background-color: rgb(12, 121, 20) !important;
    text-align: center !important;
}

.userCredentialsForm .card {
    border-color: #dc3545 !important;
}

.userCredentialsForm .card-header {
    color: #ffffff80 !important;
    background-color: #dc3545 !important;
}

.userCredentialsForm .card-body {
    color: #ffffff !important;
    background-color: #542020 !important;
}

.userCredentialsForm .form-control {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    color: #ffffff !important;
}

.userCredentialsForm .form-control:focus {
    background-color: rgba(255, 255, 255, 0.15) !important;
    border-color: rgba(255, 255, 255, 0.3) !important;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25) !important;
}

.userCredentialsForm .form-label {
    color: #ffffff !important;
}

.name-top {
    height: auto !important;
    border-radius: 8px !important;
    backdrop-filter: blur(18px);
    background-color: rgba(220, 53, 70, 0.406) !important;
    background-blend-mode: overlay;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* display conteudo no meio eixo horizontal */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.name-top-text {
    font-family: Montserrat, sans-serif !important;
}

h3 {
    font-family: 'Montserrat', sans-serif !important;
    color: #ffffffe3 !important;
    margin-bottom: 0 !important;
}