.userCredentialsForm {
    color: #ffffff;
}

.userCredentialsForm label {
    color: #ffffff;
}

.userCredentialsForm .card-body {
    color: #beafaf;
    background-color: rgba(18, 17, 22);
}

.userCredentialsForm .card-header {
    color: #e4dbdb;
    background-color: rgba(255, 255, 255, 0.1);
}

.userCredentialsForm .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.userCredentialsForm .form-control:focus {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.3);
}

.userCredentialsForm select.form-control option {
    background-color: rgb(165, 9, 243);
    color: #ffffff;
}

.alert {
    color: #ffffff;
    background-color: rgb(12, 121, 20);
    text-align: center;
}


