@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');


.userConfigForm {
    color: #ffffff;
}

.userConfigForm label {
    color: #ffffff;
}

.userConfigForm .card-body {
    color: #beafaf;
    background-color: rgba(18, 17, 22);
}

.userConfigForm .card-header {
    color: #ffffff80;
    background-color: rgba(255, 255, 255, 0.1);
}

.userConfigForm .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.userConfigForm .form-control:focus {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.3);
}

.userConfigForm select.form-control option {
    background-color: rgb(165, 9, 243);
    color: #ffffff;
}

.alert {
    color: #ffffff;
    background-color: rgb(12, 121, 20);
    text-align: center;
}

.card-body-psidocs {
    border: red 5px solid;
    border-radius: 10px;
    border-color: red;
}

.card-body-psidocs .form-control {
    border: red 5px solid;
    border-radius: 10px;
    border-color: red;
}

.name-top {
    height: auto !important;
    border-radius: 8px !important;
    backdrop-filter: blur(18px);
    background-color: rgba(0, 0, 0, 0.34) !important;
    background-blend-mode: overlay;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* display conteudo no meio eixo horizontal */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.name-top-text {
    font-family: Montserrat, sans-serif !important;
}

h3 {
    font-family: 'Montserrat', sans-serif !important;
    color: #ffffffe3 !important;
    margin-bottom: 0 !important;
}