<!-- Adicionar CSS -->
<link rel="stylesheet" href="/static/css/user_credentials.css">

<div class="container-fluid">
    <h2 class="mb-4">Credenciais Conta</h2>
    
    <!-- Área específica para mensagens -->
    <div id="message-area"></div>
    
    <form id="userCredentialsForm" class="userCredentialsForm" hx-post="/dashboard/credenciais" hx-target="#message-area">
        <!-- Email -->
        <div class="card bg-danger shadow-sm mb-4">
            <div class="card-header">
                <h5 class="mb-0">Email</h5>
            </div>
            <div class="card-body bg-danger">
                <div class="row g-3">
                    <div class="col-md-4">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" value="{{.Email}}" required>
                    </div>
                </div>
            </div>
        </div>

        <!-- CRP -->
        <div class="card bg-danger shadow-sm mb-4">
            <div class="card-header">
                <h5 class="mb-0">CRP</h5>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-2">
                        <label for="crp" class="form-label">CRP</label>
                        <input type="text" class="form-control" id="crp" name="crp" value="{{.CRP}}" required>
                    </div>
                </div>
            </div>
        </div>

        <!-- Chave / Senha Acesso -->
        <div class="card bg-danger shadow-sm mb-4">
            <div class="card-header">
                <h5 class="mb-0">Chave Acesso</h5>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="chave" class="form-label">Chave</label>
                        <input type="text" class="form-control" id="chave" name="chave" value="{{.Chave}}" required>
                    </div>
                </div>
            </div>
        </div>


        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-danger px-4">
                <span class="htmx-indicator spinner-border spinner-border-sm me-1" role="status">
                    <span class="visually-hidden">Carregando...</span>
                </span>
                Salvar Alterações
            </button>
        </div>
    </form>
</div>